/*(구글폰트)나눔 고딕 글자체 사용하기 위해 Import*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*나눔 폰트 클래스*/
.nanum-bold {
    font-family: 'NanumGothic';
    font-weight:800;
}

.nanum-middle {
    font-family: 'NanumGothic';
    font-weight: 700;
}

.nanum {
    font-family: 'NanumGothic';
    font-weight: 400;
}